<script type="text/javascript">
    RED.nodes.registerType('notion-db-query', {
        category: 'notion',
        defaults: {
            name: {value: ""},
            account: {value: "", type: "notion-credentials"},
            database: {value: "", validate: RED.validators.typedInput('databaseType')},
            databaseType: {value: "str"},
            filter: {value: "{}", validate: RED.validators.typedInput('filterType')},
            filterType: {value: "json"},
            sort: {value: "[]", validate: RED.validators.typedInput('sortType')},
            sortType: {value: "json"},
        },
        inputs: 1,
        outputs: 1,
        oneditprepare: function(){
            $("#node-input-database").typedInput({
                types: ["msg", "str"],
                typeField: "#node-input-databaseType"
            });

            $("#node-input-filter").typedInput({
                types: ["json", "msg"],
                typeField: "#node-input-filterType"
            });

            $("#node-input-sort").typedInput({
                types: ["json", "msg"],
                typeField: "#node-input-sortType"
            });
        },
        label: function(){
            return this.name || "notion-db-query"
        }
    });

    RED.nodes.registerType('notion-db', {
        category: 'notion',
        defaults: {
            name: {value: ""},
            account: {value: "", type: "notion-credentials"},
            database: {value: "", validate: RED.validators.typedInput('databaseType')},
            databaseType: {value: "str"},
        },
        inputs: 1,
        outputs: 1,
        oneditprepare: function(){
            $("#node-input-database").typedInput({
                types: ["msg", "str"],
                typeField: "#node-input-databaseType"
            });
        },
        label: function(){
            return this.name || "notion-db"
        }
    });

    RED.nodes.registerType('notion-page-blocks', {
        category: 'notion',
        defaults: {
            name: {value: ""},
            account: {value: "", type: "notion-credentials"},
            pageid: { value: "", validate: RED.validators.typedInput('pageidType')},
            pageidType: { value: "msg"}
        },
        inputs: 1,
        outputs: 1,
        oneditprepare: function(){
            $("#node-input-pageid").typedInput({
                types: ["msg", "str"],
                typeField: "#node-input-pageidType"
            });
        },
        label: function(){
            return this.name || "notion-page-blocks"
        }
    });

    RED.nodes.registerType('notion-credentials', {
        category: 'config',
        defaults: {
            name: {value: ""}
        },
        credentials: {
            token: {type: "password", required: true}
        },
        label: function(){
            return this.name ?? "notion-credentials";
        }
    });

</script>

<script type="text/html" data-template-name="notion-db">
    <div class="form-row">
        <label for="node-input-name">Name</label>
        <input type="text" id="node-input-name" />
    </div>
    <div class="form-row">
        <label for="node-input-account">Account</label>
        <input type="text" id="node-input-account" />
    </div>
    <div class="form-row">
        <label for="node-input-database">Database</label>
        <input type="text" id="node-input-database" />
        <input type="hidden" id="node-input-databaseType">
    </div>
</script>

<script type="text/html" data-help-name="notion-db">
   <p>Fetches a database object from Notion</p>
   <h3>Outputs</h3>
       <dl class="message-properties">
       <dt>payload
           <span class="property-type">object</span>
       </dt>
   <h3>Notion API</h3>
   <p>This uses the <a target="_new" href="https://developers.notion.com/reference/retrieve-a-database">database api</a> to get a db object.</p>
</script>

<script type="text/html" data-template-name="notion-db-query">
    <div class="form-row">
        <label for="node-input-name">Name</label>
        <input type="text" id="node-input-name" />
    </div>
    <div class="form-row">
        <label for="node-input-account">Account</label>
        <input type="text" id="node-input-account" />
    </div>
    <div class="form-row">
        <label for="node-input-database">Database</label>
        <input type="text" id="node-input-database" />
        <input type="hidden" id="node-input-databaseType">
    </div>
    <div class="form-row">
        <label for="node-input-filter">Filter</label>
        <input type="text" id="node-input-filter" />
        <input type="hidden" id="node-input-filterType">
    </div>
    <div class="form-row">
        <label for="node-input-sort">Sorts</label>
        <input type="text" id="node-input-sort" />
        <input type="hidden" id="node-input-sortType">
    </div>
</script>

<script type="text/html" data-help-name="notion-db-query">
   <p>Fetches an entire database from Notion</p>
   <h3>Outputs</h3>
       <dl class="message-properties">
       <dt>payload
           <span class="property-type">object</span>
       </dt>
   <h3>Notion API</h3>
   <p>This uses the <a target="_new" href="https://developers.notion.com/reference/post-database-query">query api</a> to get all the items in a db.</p>
</script>

<script type="text/html" data-template-name="notion-page-blocks">
    <div class="form-row">
        <label for="node-input-name">Name</label>
        <input type="text" id="node-input-name" />
    </div>
    <div class="form-row">
        <label for="node-input-account">Account</label>
        <input type="text" id="node-input-account" />
    </div>
    <div class="form-row">
        <label for="node-input-pageid">Page Id</label>
        <input type="text" id="node-input-pageid" />
        <input type="hidden" id="node-input-pageidType">
    </div>
</script>

<script type="text/html" data-help-name="notion-page-blocks">
   <p>Fetches a page's blocks from Notion</p>
   <h3>Outputs</h3>
       <dl class="message-properties">
       <dt>payload
           <span class="property-type">object</span>
       </dt>
   <h3>Notion API</h3>
   <p>This uses the <a target="_new" href="https://developers.notion.com/reference/get-block-children">block children api</a> to get all the items in a db.</p>
</script>

<script type="text/html" data-template-name="notion-credentials">
    <div class="form-row">
        <label for="node-input-name">Name</label>
        <input type="text" id="node-input-name" />
    </div>
    <div class="form-row">
        <p>
            To get a token for this application:
            <ol>
                <li>Make sure you're an admin for the notion.so org</li>
                <li>Go to Settings & Members -> Integrations -> Develop your own integrations</li>
                <li>Create a new integration, named as you see fit</li>
                <li>Copy the internal integration token and paste it below</li>
            </ol>
        </p>
        <label for="node-config-input-token">Token</label>
        <input type="text" id="node-config-input-token" />
    </div>
</script>